table {
    border: 1px black;
}
td:hover {
    background-color: pink;
    color: black;
}
tr, th {
    background-color: rgb(183, 137, 226);
    color: rgb(66, 64, 64)
}
tr, td {
    background-color: indianred;
    color: black;
}

