/*Header*/
@import url('gttps://fonts.googleapis.com/css?family=Montserrat:500');

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(15, 14, 13);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:rgb(255, 115, 22)
}

button {
    padding: 9px 25px;
    background-color: rgb(255, 139, 30);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:rgb(255, 104, 16);
}
/*End header*/







/*Slideshow*/

body{
    margin: 0;
    padding: 0;
    background: #fff;
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid rgb(255, 139, 30);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: black;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slide{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 100%;
    transition: 0.6s;
}
.slide img{
    width: auto;
    height: auto;
}


#r1:checked ~ .s1{
    margin-left: +10%;
}
#r2:checked ~ .s1{
    margin-left: -89.5%;
}
#r3:checked ~ .s1{
    margin-left: -200%;
}
/*End Slideshow*/



/*Footer Styling*/
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: rgb(255, 139, 30);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: rgb(255, 139, 30);
}
/*End Footer Styling*/